node_modules
packages/**/lib/
**/.DS_Store
packages/**/coverage/
packages/**/.nyc_output/
# built by the "Build publish action" step in beta-publish.yml
.github/publish-action/dist/

scripts/reports
scripts/allure-report
package-info.json
