.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  font-family: "Audiowide", sans-serif;
  color: white;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  padding: 3%;
  text-align: center; 
}

.App-link {
  color: #09d3ac;
}

.title {
	margin: 16px;
	text-align: center;
	font-size: 40px;
}

.title2 {
	border-top: 1px solid grey;
	margin-top: 16px;
	padding-top: 16px;
	text-align: center;
	font-size: 26px;
}

.function-component {
	font-size: 22px;
	margin-bottom: 12px;
}

.show-text-area {
	display: flex;
	align-items: center;
	border-radius: 4px;
	background: #808080;
	font-family: Arial, Helvetica, sans-serif;
}

.state-text-area {
	display: flex;
	margin-left: 12px;
	align-items: center;
	border-radius: 4px;
	background: #808080;
	font-family: Arial, Helvetica, sans-serif;
}

.input-col {
	padding: 0px;
	margin-right: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

.drop-down {
	padding-right: 0px;
}
